@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;700;800&display=swap");
@media only screen and (max-width: 992px) {
  section {
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
}

@media only screen and (max-width: 576px) {
  section {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  section.bootcamps {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

body,
button {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  margin: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 5px;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  min-height: 40px;
  padding: 11px 25px;
  border-radius: 5px;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
}

.header {
  color: white;
  position: relative;
  max-height: 85vh;
  overflow: hidden;
}

.header #myVideo {
  width: 100%;
}

.header .over-video {
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80px);
  position: absolute;
  padding: 15px 25px;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-container__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-container__logo img {
  width: 250px;
}

@media only screen and (max-width: 576px) {
  .top-container__logo img {
    width: 150px;
  }
}

.top-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container .nav-container__item {
  cursor: pointer;
  margin-left: 25px;
  font-size: 0.9rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}

.top-container .nav-container__item:nth-last-child(n+3)::before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: -8px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-container .nav-container__item:hover:nth-last-child(n+3)::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 992px) {
  .top-container .nav-container__item {
    display: none;
  }
}

.top-container .nav-container__item:first-child span {
  margin-left: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.top-container .nav-container__item:first-child:hover span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.top-container .nav-container__item:nth-child(5) {
  background-color: #fe2f9f;
  color: white;
}

.top-container .nav-container__item:nth-child(5):hover {
  background-color: #fa2295;
}

.top-container .nav-container__item:last-child {
  font-size: 2rem;
  display: none;
}

@media only screen and (max-width: 992px) {
  .top-container .nav-container__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 60%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 992px) {
  .main-container {
    padding-right: 30%;
    padding-left: 25px;
  }
  .main-container h1 {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .main-container {
    padding-right: 20%;
    padding-left: 15px;
  }
  .main-container h1 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .main-container h3 {
    font-size: 0.6rem;
  }
}

.mobile-buttons {
  display: none;
}

@media only screen and (max-width: 576px) {
  .mobile-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-buttons button {
  -ms-flex-preferred-size: calc(50% - 4px);
      flex-basis: calc(50% - 4px);
}

.mobile-buttons button:first-child {
  margin-right: 8px;
}

.mobile-buttons .whatsapp {
  background-color: #1fae9a;
  color: white;
}

.mobile-buttons .info {
  background-color: #fe2f9f;
  color: white;
}

.mobile-buttons .info:hover {
  background-color: #fa2295;
}

.live-heading {
  margin: 50px 0;
  padding: 0 30%;
  text-align: center;
}

.live-heading h2 span {
  background-color: yellow;
}

@media only screen and (max-width: 992px) {
  .live-heading {
    padding: 0 25%;
  }
}

@media only screen and (max-width: 576px) {
  .live-heading {
    padding: 0 10%;
  }
  .live-heading h2 {
    font-size: 0.9rem;
  }
}

.options {
  padding: 25px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options__bootcamps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}

.options__bootcamps__one {
  -ms-flex-preferred-size: calc(50% - 8px);
      flex-basis: calc(50% - 8px);
  padding: 15px;
  border-radius: 5px;
  background-color: #fbfbfd;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.options__bootcamps__one:hover {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 992px) {
  .options__bootcamps {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .options__bootcamps__one {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.options__time-schedule {
  margin-left: 25px;
  -ms-flex-preferred-size: calc(33% - 25px);
      flex-basis: calc(33% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.options__time-schedule span {
  font-size: 0.9rem;
}

.options__time-schedule__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__time-schedule__one__icon {
  margin-right: 8px;
}

@media only screen and (max-width: 992px) {
  .options__time-schedule {
    -ms-flex-preferred-size: calc(50% - 25px);
        flex-basis: calc(50% - 25px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 576px) {
  .options {
    padding: 25px;
  }
  .options > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px 20%;
  background-color: #fbfbfd;
}

.companies__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.companies__text > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 75px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 992px) {
  .companies__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .companies__text > * {
    padding-right: 0;
  }
}

.companies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.companies__container__icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.companies__container__icon img {
  width: 100%;
}

.companies__container {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 75px;
}

@media only screen and (max-width: 992px) {
  .companies__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .companies__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

.companies__container__icon img {
  width: 100%;
}

.testimonials h2 {
  text-align: center;
  background-color: #fbfbfd;
  padding-bottom: 25px;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials__container__box {
  position: relative;
  cursor: pointer;
  color: white;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.8));
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-blend-mode: multiply;
  background-size: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media only screen and (max-width: 992px) {
  .testimonials__container__box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .testimonials__container__box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.testimonials__container__box img {
  width: 100%;
  z-index: -1;
}

.testimonials__container__box button {
  background-color: #d8d8d8d2;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  padding: 8px 25px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transition: visibility 0s ease 0.3s;
  transition: visibility 0s ease 0.3s;
}

.testimonials__container__box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  padding: 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.testimonials__container__box__text h3 {
  margin-bottom: 8px;
}

.testimonials__container__box:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
}

.testimonials__container__box:hover button {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.testimonials__container__box:hover .testimonials__container__box__text {
  padding-bottom: 30px;
}

.concept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20%;
  margin: 75px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .concept p {
    padding: 0;
  }
}

.concept > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 75px;
  margin-bottom: 15px;
}

.concept button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 25px 24% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  color: white;
  background-color: #4a40ec;
  font-size: 0.8rem;
}

.concept button:hover {
  background-color: #3830df;
}

@media only screen and (max-width: 992px) {
  .concept {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .concept p {
    padding: 0;
  }
}

.bootcamps {
  padding: 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bootcamps__box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  min-height: 450px;
  background-size: cover;
  padding: 25px;
  position: relative;
  z-index: 0;
}

.bootcamps__box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4a40ec;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media only screen and (max-width: 992px) {
  .bootcamps__box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.bootcamps__box:nth-child(1) {
  background-image: url("../images/bootcamps/fullstack-img-chooser.jpg");
}

.bootcamps__box:nth-child(1) button {
  background-color: #fdc725;
}

.bootcamps__box:nth-child(2) {
  background-image: url("../images/bootcamps/uxui-img-chooser.jpg");
}

.bootcamps__box:nth-child(2) button {
  background-color: #fdc725;
}

.bootcamps__box:nth-child(3) {
  background-image: url("../images/bootcamps/frontend-img-chooser.jpg");
}

.bootcamps__box:nth-child(3) button {
  background-color: #05fad7;
}

.bootcamps__box:nth-child(4) {
  background-image: url("../images/bootcamps/ciber-img-chooser.jpg");
}

.bootcamps__box:nth-child(4) button {
  visibility: hidden;
}

.bootcamps__box hr {
  margin-top: 8px;
  width: 100%;
  -webkit-transform-origin: 0 center;
          transform-origin: 0 center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.bootcamps__box p {
  padding-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.bootcamps__box button {
  margin-left: 60%;
  margin-bottom: 15px;
  padding: 8px;
  text-transform: uppercase;
}

.bootcamps__box .arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  min-height: 20px;
}

.bootcamps__box .arrow span {
  height: 0;
  width: 30px;
  border: 1px white solid;
  background: white;
  display: block;
  -webkit-transform-origin: 27px center;
          transform-origin: 27px center;
  border-radius: 10px;
}

.bootcamps__box .arrow span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bootcamps__box .arrow span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bootcamps__box .arrow span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 31px center;
          transform-origin: 31px center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 992px) {
  .bootcamps__box p {
    opacity: 0;
  }
  .bootcamps__box:hover {
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    cursor: pointer;
    background-color: #4a40ec;
    background-blend-mode: soft-light;
  }
  .bootcamps__box:hover:last-child::before {
    opacity: 1;
  }
  .bootcamps__box:hover hr {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .bootcamps__box:hover p {
    opacity: 1;
  }
  .bootcamps__box:hover .arrow span:nth-child(2) {
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
}

section.choose-text {
  margin: 75px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.choose-text span img {
  width: 85%;
}

.method {
  padding: 0 20%;
  margin-bottom: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.method__box {
  padding: 50px 0 0;
}

.method h2 {
  font-size: 1.6rem;
}

.method h3 {
  margin: 15px 0;
}

@media only screen and (max-width: 992px) {
  .method {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .method__box {
    padding: 0;
  }
  .method p {
    display: none;
  }
}

div.more {
  background-color: #4a40ec;
  color: white;
  padding: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  div.more {
    padding: 75px 15%;
  }
}

@media only screen and (max-width: 576px) {
  div.more {
    padding: 75px 10%;
  }
}

div.more div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 992px) {
  div.more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

div.more .text {
  padding-right: 125px;
  margin-bottom: 25px;
}

div.more .text h2 {
  margin-bottom: 25px;
}

@media only screen and (max-width: 992px) {
  div.more .text {
    padding-right: 0;
  }
}

div.more .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.more .form-container form > * {
  margin-bottom: 8px;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

div.more .form-container form input {
  border-radius: 4px;
  border: none;
  height: 30px;
  margin-bottom: 15px;
}

div.more .form-container form label input {
  height: inherit;
  margin-bottom: 0;
  margin-right: 10px;
}

div.more .form-container form button {
  width: 200px;
  cursor: pointer;
  background-color: #a4a0f7;
  color: white;
  margin-top: 15px;
}

div.more .form-container form button:hover {
  background-color: #9d98eccb;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding: 50px 20%;
}

@media only screen and (max-width: 992px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 75px 15%;
  }
}

@media only screen and (max-width: 576px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 75px 10%;
  }
}

footer a {
  color: white;
  font-size: 0.7rem;
  margin-bottom: 8px;
}

footer .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

footer .contact-links .contact {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contact-links .contact img {
  width: 150px;
  margin-bottom: 15px;
}

footer .contact-links .links {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid white;
  padding: 15px 25px;
}

@media only screen and (max-width: 992px) {
  footer .contact-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .contact-links .links {
    border: none;
    padding-left: 0;
  }
}

footer .social {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

footer .social span {
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 0;
}

footer .social span img {
  z-index: 1;
}

footer .social span::before {
  content: '';
  background-color: #ffffff3b;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .social span:hover::before {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */